name: Code climate
on:
  push:
    branches:
      - main
    tags:
      - '!*' # Do not execute on tags
    paths:
      - src/*
      - test/*
      - '*.json'
  pull_request:
    paths:
      - '!*.MD'

jobs:
  codeclimate:
    name: codeclimate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Install dependencies
        run: npm ci
      - name: Test & publish code coverage to code climate
        uses: paambaati/codeclimate-action@v4.0.0
        env:
          CC_TEST_REPORTER_ID: 3db0118f3fe61d4823663e7d09be1a1df46a35de00e702580b6057b59a960dc8
        with:
          coverageCommand: npm run test
          debug: true
